html{
    min-height:100vh;
    background-color:#4B8E8C;
    background-image: url('assets/nbd-mountainbg.png');
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 160px;

}

header h1 {
    display: block; 
    float: left;
    line-height: 160px;
    margin-left: 20px;
}

header a {
    cursor: pointer;
}

header nav {
    display: block;
    height: 160px;
    float: right;
    margin-right: 20px;
}
header nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Cabin Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 160px;
    text-transform: uppercase;
    transition: transform 0.3s ease, color 0.3s ease, text-decoration 0.3s ease;
}

header nav a:hover {
    color: #DF2631;
    text-decoration: underline;
    transform: translateY(-5px);
}

main{
    display: block;
    width:100%;
}


main.hometitle {
    width: 1000px;
    margin-top: 200px
}

footer{
    width: 100%;
    height: 20px;
}

.left-image {
    width: 100%;
    max-width: 500px;
    float: left;
    display: block;
}
.left-image img {
    display: block;
    width: 334px;
    height: 332px;
    margin: 0 auto;
    border-width: 20px 20px 100px 20px;
    border-style: solid;
    border-color: #FFFFFF;
    box-shadow: -5px 5px 0px #A6A743;
}
.content {
    width: 100%;
    max-width: 500px;
    float: left;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Squada One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 100px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
    -webkit-text-stroke: 2px #A6A743;
    text-shadow: -5px 5px 0px #DF2631;
}

h2 {
    font-family: 'Cabin Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;

    color: #1E1E1E;
}

.card {
    float:left;
    width: 100%;
    max-width: 400px;
    padding: 20px 20px 10px 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.card a {
    display: block;
    padding: 20px 20px 10px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: -5px 5px 0px #A6A743;
    background-color: #FFFFFF;
    color: #171717;
    text-decoration: none;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card h2 {
    margin: 10px 0;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    
}
.card h3 {
    width: 100%;
    height: 20px;
    line-height: 20px;
    
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.card a:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.cta-buttons{
    display: block;
    width: 100%;
}
.cta-buttons :first-child {
    margin-right:20px;
}
.button {
    box-sizing: border-box;
    padding: 12px 21px;
    height: 80px;
    line-height: 80px;
    
    font-family: 'Cabin Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    
    color: #1E1E1E;
    background: #A6A743;
    border: 2px solid #FFFFFF;
    box-shadow: -5px 5px 0px #DF2631;
    }

.button:hover {
    background: #DF2631;
    color: #FFFFFF;
    box-shadow: -5px 5px 0px #A6A743;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 1200px) {
    .container {
        width: 100%;}
    .card {
        width: 50%;
        max-width: 600px;
    }
}

@media (max-width: 1000px) {
    
    main, main.hometitle {
        box-sizing: border-box;
        width: 100%;
        padding: 0 10px;
    }
    .hometitle {
        margin-top: 0;
    }
    .left-image, .content{
        max-width: 324px;
        float: none;
        display: block;
        margin: 60px auto;
    }
    .left-image img {
        box-sizing: border-box;
        width: 60%;
        display: block;
        height: auto;
        border-width: 10px 10px 50px 10px;
    }
    .button {
        font-size: 24px;
        height: 60px;
        line-height: 60px;
    }
}
@media (max-width: 600px) {
    .card {
        width: 100%;
        max-width: 100%;
    }
}
@media (max-width: 368px) {
    h1 {
        font-size: 64px;
        line-height: 50px;
    }
    h2 {
        font-size: 24px;
    }
    
}